h1 {
  color: #202124;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  text-align: left;
  color: #7075a5;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  
}
 

.weather-app {
  padding: 30px;
  border: 0.5px solid #dadde1;
  border-radius: 7px;
  margin: 30px auto;
  
}


.weather-temperature strong {
  font-size: 32px;

  line-height: 64px;
}
.weather-temperature img {
  height: 64px;
  width: 64px;
  margin-right: 5px;
}
.weather-temperature .units {
  position: relative;
  top: -12px;
  font-size: 15px;
}
.weather-temperature a {
  text-decoration: none;
}
